{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Magical Barrier!</title>
   <!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<section id="courses">

 <style type="text/css">
    .main{
        margin-top: 100px;
        margin-left: 50px;
        margin-right:50px;
        min-height: 70vh;
        height: 100%;
        }

        html,body{
        background-image: url('{% static "feature/media/4in1.png" %}');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
        }

        .container{
        height: 100%;
        align-content: center;
        }

</style>

<div class="container">
<div class="container main" style="margin-top: 25px;">



    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
    <div class="row">

        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-primary text-truncate text-light">
                    <a class="card-title text-light" href="/hundred"  style="font-weight: bold;
                     font-size: 18px;">A hundred things about You</a>
                    <p class="card-subtitle mb-2 text-light" style="font-size: 14px;">Because you're the best</p>
                </div>

              <div class="card-body">
                  <p class="card-text text-primary">A hundred things about You</p>
              </div>
            </div>
        </div>

        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-primary text-truncate text-light">
                    <a class="card-title text-light" href="/bestof"  style="font-weight: bold;
                     font-size: 18px;">The Best of You</a>
                    <p class="card-subtitle mb-2 text-light" style="font-size: 14px;">Because even the best has the best...</p>
                </div>

              <div class="card-body">
                  <p class="card-text text-primary">The Best of You</p>
              </div>
            </div>
        </div>

        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-primary text-truncate text-light">
                    <a class="card-title text-light" href="/moreof"  style="font-weight: bold;
                     font-size: 18px;">More of You</a>
                    <p class="card-subtitle mb-2 text-light" style="font-size: 14px;">Because we want more of the best...</p>
                </div>

              <div class="card-body">
                  <p class="card-text text-primary">More of You</p>
              </div>
            </div>
        </div>

        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-primary text-truncate text-light">
                    <a class="card-title text-light" href="/story"  style="font-weight: bold;
                     font-size: 18px;">See the original: A Magical Story</a>
                    <p class="card-subtitle mb-2 text-light" style="font-size: 14px;">A Tale of Two birds</p>
                </div>

              <div class="card-body">
                  <p class="card-text text-primary">See the original: A Magical Story</p>
              </div>
            </div>
        </div>


    </div>
    </div>
    </div>
</section>


</body>
</html>
